<div class="flex h-screen">
  <!-- SIDEBAR -->
  <div
    class="{{
      navOpen() ? 'w-1/6' : 'w-20'
    }} transition-all duration-300 overflow-hidden"
    [ngClass]="{
      'w-20': isMobile || !navOpen(),
      'w-1/6': !isMobile && navOpen()
    }"
  >
    <app-navbar
      [isNavOpen]="navOpen()"
      (toggle)="toggleNav($event)"
    ></app-navbar>
  </div>

  <!-- MAIN CONTENT -->
  <div
    class="{{ navOpen() ? 'w-5/6' : 'w-full' }} transition-all duration-300"
    [ngClass]="{
      'w-full': isMobile || !navOpen(),
      'w-5/6': !isMobile && navOpen()
    }"
  >
    <app-topbar></app-topbar>
    <router-outlet />
  </div>
</div>
