<div
  class="w-full h-14 flex items-center px-6 bg-white shadow-sm border-b border-gray-200"
>
  <nav aria-label="Breadcrumb" class="w-full">
    <ol class="flex items-center space-x-2 text-sm text-gray-500">
      <li
        *ngFor="let bc of breadcrumbs; let last = last"
        class="flex items-center cursor-default"
      >
        <ng-container *ngIf="!last; else lastBreadcrumb">
          <a
            [routerLink]="bc.url"
            class="text-gray-600 hover:text-blue-600 transition-colors"
          >
            {{ bc.label }}
          </a>
          <span class="mx-2 text-gray-400">/</span>
        </ng-container>
        <ng-template #lastBreadcrumb>
          <span class="text-gray-900 font-medium underline">{{
            bc.label
          }}</span>
        </ng-template>
      </li>
    </ol>
  </nav>
  <div>
    <span *ngIf="user$ | async as user">{{ user.name }}</span>
  </div>
</div>
