<!-- role-setup.component.html -->
<button
  *ngIf="isParentRoute()"
  (click)="goBack()"
  class="flex items-center text-sm text-blue-600 hover:underline mb-4"
>
  ← {{ parentLabel }}
</button>

<div class="w-full md:w-2/3 mx-auto mt-10 px-2">
  <div
    class="flex flex-wrap justify-center items-center md:justify-start gap-4"
  >
    <app-role-column
      [roles]="roles"
      (roleSelected)="onRoleSelected($event)"
      (roleDeselected)="onRoleDeselected($event)"
    >
    </app-role-column>

    <ng-container *ngIf="hasNextColumn">
      <app-permission-column
        [permissions]="permissions"
        (permissionSelected)="selectItemPermission($event)"
      >
      </app-permission-column>

      <app-transfer-buttons
        [showSelectAll]="true"
        [showRemoveAll]="true"
        (select)="btnSelect(permissions)"
        (selectAll)="btnSelectAll(granted)"
        (remove)="btnRemove(granted)"
        (removeAll)="btnRemoveAll(granted)"
      >
      </app-transfer-buttons>

      <app-granted-column
        [granted]="granted"
        (itemSelected)="selectItemGranted($event)"
        (submitChanges)="onSaveRequested()"
      >
      </app-granted-column>
    </ng-container>
  </div>
</div>

<app-confirm-dialog
  *ngIf="showConfirm"
  [visible]="showConfirm"
  title="Xác nhận thay đổi quyền"
  message="Bạn có chắc muốn thay đổi quyền hạn này không ?"
  [loading]="loading"
  [loadingText]="'Đang thay đổi...'"
  confirmText="Đồng ý"
  cancelText="Hủy bỏ"
  loadingSize="md"
  (confirm)="confirm()"
  (cancel)="cancel()"
></app-confirm-dialog>
